 * {
    box-sizing: border-box;
}



body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

div a {
  text-decoration: none;
  color: #000;
  font-size: .70rem;
}

.search h1 {
  color: #fff;
  font-weight: 900;
  font-size: .78rem;
  margin: 20px 0;
}

.search {
  padding: 20px 38px;
  background: rgb(120, 13, 13);
  box-shadow: -1px 2px 6px 0px #532828;
  margin: 0;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1.2px solid #bfbfbf;
    border-radius: 8px;
    background: #f5f4f4;
    color: rgba(135, 0, 0, 0.91);
    background-image: url(../img/search.png);
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
}


.mem-item {
  display: flex;
  margin: 40px 20px;
  border: 1.3px solid rgba(11, 11, 11, 0.19);
  border-radius: 8px;
  transition: box-shadow .3s, transform .3s;
  cursor: pointer;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
}

.is-showing {
  opacity: 1;
  transform: translateX(0);
}


.mem-item:hover {
  box-shadow: -1px 4px 20px 0px rgba(135, 0, 0, 0.91);
  transform: scale(1.01);
}

.mem-img img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 15px 0 15px 15px;
}


.mem-mail {
  font-size: .60rem;
  width: 100px;
  margin: 25px 0 5px 10px;
}

.mem-mail p {
  text-align: left;
  font-size: .70rem;
}

.mem-name {
  font-size: .80rem;
  width: 150px;
  margin: 6px 0;
  font-weight: 900;
}




/* Popup modal window */
.overlay-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(31, 29, 28, 0.51);
  display: none;

}

.modal-window {
  width: 300px;
  height: 380px;
  background-color: #fff;
  border: 2px solid rgba(135, 0, 0, 0.91);
  border-radius: 20px;
  text-align: center;
  margin: 145px auto;
}

.modal-window img {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin: 20px 0 0 0;
  border: 1px solid rgba(135, 0, 0, 0.91);
}

.modal-window div{
  text-align: center;
  font-size: .80rem;
}

.modal-window div .city-data{
  padding-bottom: 20px;
  width: 90%;
  margin:10px auto;
  border-bottom: 1px solid rgba(135, 0, 0, 0.91);
}

.bold{
  font-size: 1rem;
  font-weight: 900;
}
.modal-window  p {
  margin: 7px;
}


li {
  list-style-type: none;
  margin: 10px;
}

.mem-info ul {
  margin: 0;
  padding: 0;
}
.mem-info {
  padding-top: 10px;
  display: none;
}

.arrows {
  display: none;
  margin: 0 auto;
  width: 345px;
}

.close-error, .right-arrow, .left-arrow {
  display: none;
}

.close-error {
  position: absolute;
  top: 160px;
  right: 25px;
  color: rgba(135, 0, 0, 0.91);
  float: right;
  cursor: pointer;
  font-size: 1.30rem;
}


.left-arrow {
  position: relative;
  top: -190px;
  font-size: 2rem;
  width: 150px;
  color: rgba(135, 0, 0, 0.91);
  transform: rotate(180deg);
  animation: .90s arrowR infinite ease;
  cursor: pointer;
}

.right-arrow {
  position: relative;
  top: -224px;
  font-size: 2rem;
  width: 240px;
  color: rgba(135, 0, 0, 0.91);
  float: right;
  animation: .90s arrowLeft infinite ease;
  cursor: pointer;
}





@-webkit-keyframes arrowLeft {
  0%, 100% {
    left: 50px;
  }
  50% {
    left: 55px;
  }
}
@keyframes arrowLeft {
  0%, 100% {
    left: 50px;
  }
  50% {
    left: 55px;
  }
}




@-webkit-keyframes arrowR {
  0%, 100% {
    left: -50px;
  }
  50% {
    left: -55px;
  }
}
@keyframes arrowR {
  0%, 100% {
    left: -50px;
  }
  50% {
    left: -55px;
  }
}


@media screen and (min-width: 375px) {
  .modal-window {
    width: 350px;
    height: 400px;
  }

  .right-arrow {
    top: -220px;
    width: 150px;
  }
  .left-arrow {
    top: -190px;
    width: 150px;
  }
  .close-error {
    left: 330px;
  }
  div a {
    font-size: .84rem;
  }
}


@media screen and (min-width: 768px) {

  .search {
    display: flex;
  }

  .search h1 {
    margin: 14px 0 0 0;
    color: #fff;
    font-weight: 900;
    font-size: .80rem;
  }

  .search form {
    margin-left: auto;
    width: 400px;
  }

  .new-mem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .mem-item {
    margin: 12px;
    flex-basis: 330px;
  }

  .mem-item a, .mem-item h1, .mem-item p {
    font-size: .82rem;
  }

  .modal-window {
    width: 420px;
    height: 420px;
  }

  .close-error {
    left: 390px;
 }
}




@media screen and (min-width: 1024px) {

    .search form {
      margin-left: auto;
    }

    .mem-item {
      padding: 6px 0;
      margin: 15px;
      flex-basis: 400px;
   }

   .mem-item img {
     height: 110px;
      width: 110px;
   }

   .mem-item .city-data {
     margin-top: 10px;
   }


}
